
.app-outer
{
  background-color: white;

  margin-left: auto;
  margin-right: auto;
}

.app
{
  max-width: 1600px;

  margin-left: auto;
  margin-right: auto;
}

.left-social-container
{
  position: fixed;
  bottom: 0;
}

.right-social-container
{
  position: fixed;
  bottom: 0;
  right: -2rem;
}

.right-email
{
  transform: rotate(90deg);

  color: #b8c6db;

  font-size: .8rem;
  font-weight: 600;
  letter-spacing: .08rem;

  position: relative;
  left: .8rem;

  font-family: 'Larrseit', sans-serif;
}

.right-email a
{
  text-decoration: none;

  color: black;
}

.right-email a:hover 
{
  color: #b8c6db;
} 

.right-email-box::after
{
  background-color: grey;

  margin-left: 5.9rem;
  margin-top: 5.8rem;

  content: " ";
  width: 1px;
  height: 120px;
  display: block;
}


/* HEADER SECTION LINKS */



/* SOCIAL */

.header-social-list 
{
  margin: 0;

  padding: 0;

  display: inline-block;
}

.header-social-list::after
{
  background-color: grey;

  margin-left: 2.2rem;

  content: " ";
  width: 1px;
  height: 120px;
  display: block;
}

.header-social-list li 
{
    list-style-type: none;


    margin-left: 1.65rem;
    margin-right: .25rem;
    margin-top: 1rem;
}

.header-social svg
{
    width: 1.2rem;
    height: 1.2rem;

    fill: black;
}

.header-social svg:hover 
{
    fill: #b8c6db;
}



.bgOne
{
  background: linear-gradient(132deg, rgb(206, 237, 255) 0%, rgb(255, 255, 255) 85%);
}


.bgTwo
{
  background: linear-gradient(132deg, rgba(38,43,46,1) 0%, rgba(0,0,0,1) 85%);
}




/* MEDIA */

@media only screen and (max-width: 992px)
{
  .left-social-container
  {
    display: none;
  }

  .right-social-container
  {
    display: none;
  }

  
}