.header-container
{
    font-family: 'Montserrat', sans-serif;
    padding-top: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;

}





/* HEADER NAME / LINK */

.name
{
    color: white;
}

.profession
{
    color: #b8c6db;
}

.header-list
{
    padding: 0;

    float: right;
}

.header-list li 
{
    list-style-type: none;

    display: inline-block;

    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.header-link
{
    font-family: 'Montserrat', sans-serif;

    font-size: .7rem;
    font-weight: 600;
    text-transform: uppercase;

    letter-spacing: .05rem;
}

.header-link a
{
    color: white;

    text-decoration: none;
}

.header-link a:hover
{
    color: #b8c6db;

    text-decoration: none;
}





