/* CONTAINER */

.home-container
{
    background: rgb(38,43,46);
    background: linear-gradient(132deg, rgba(38,43,46,1) 0%, rgba(0,0,0,1) 85%);

    padding-top: ;
}




/* INTRO */

.home-intro-container
{
    max-width: 1400px;

    margin-left: auto;
    margin-right: auto;
}