/* CONTAINER */




.home-container
{
    color: white;

    font-family: 'Larrseit', sans-serif;

    padding-bottom: 5rem;
    padding-top: 10rem;
    padding-left: 0;
    padding-right: 0;

    margin-left: auto;
    margin-right: auto;
}

.home-inner-box
{
    color: black;

    margin-top: 10rem;
}



/* INTRO */

.home-intro-wrapper
{
    padding-left: 5rem;
    padding-right: 5rem;
}

.home-intro-container
{
    max-width: 1400px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}

.home-intro-title
{
    font-size: 80px;
    font-weight: 900;
    letter-spacing: .5rem;

    margin-bottom: 6rem;
}



/* PROJECTS */

.project-section-one
{
    margin-top: 8rem;
    margin-bottom: 8rem;
    
    padding-left: 5rem;
    padding-right: 5rem;

    color: black;
}

.home-project-title
{
    font-size: 3rem;
    font-weight: 600;
}

.home-project-title-info
{
    width: 60%;

    color: rgb(70, 70, 70);
}

.home-project-lang-title, .home-project-date-title, .home-project-link-title
{
    font-size: .8rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .25rem;

    color: black;

    margin-bottom: .25rem;
}

.home-project-lang-info, .home-project-date-info, .home-project-title-info
{
    color: rgb(70, 70, 70);
}

.home-project-link a 
{
    color: rgb(70, 70, 70);

    text-decoration: none;
}

.home-project-link a:hover
{
    color: black;
}

.project-section-img
{
    background-color: rgba(227,214,233,.5);
}

.project-section-img img
{
    width: 100%;
}

.project-design, .project-framework
{
    font-size: .9rem;
    color: black;
    font-weight: 600;
}



.project-design-info, .project-framework-info
{
    color: rgb(70, 70, 70);
}

.project-design-img-box
{
    margin-top: 3rem;
}

.project-design-img
{


    padding-right: 1rem;
}

.project-design-img-two
{
    padding-left: 1rem;

    position: relative;
    bottom: 36%;
}

.project-design-img img
{
    width: 100%;

    border-radius: 5px;

    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.project-design-img-two img
{
    width: 100%;

    border-radius: 5px;

    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.project-design-img-extra, .project-design-img, .project-design-img-two
{
    margin-top: 1rem;
}

.project-design-img-extra img
{
    width: 100%;

    border-radius: 5px;

    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.project-design-video-box video 
{
    width: 100%;
}







/* MEDIA QUERY */

@media only screen and (max-width: 992px)
{
    .project-section-one
    {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .home-intro-title
    {
        font-size: 60px;
    }

    .home-intro-wrapper
    {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}




@media only screen and (max-width: 768px)
{
    .home-intro-title
    {
        font-size: 42px;
    }


}



@media only screen and (max-width: 600px)
{
    .home-intro-title
    {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 400px)
{
    .home-intro-title
    {
        font-size: 1.15rem;
        letter-spacing: .3rem;
    }

    .home-container
    {
        padding-top: 10rem;
    }
}