/* CONTAINER */




.home-container
{
    color: black;

    font-family: 'Larrseit', sans-serif;

    padding-bottom: 5rem;
    padding-top: 10rem;
    padding-left: 0;
    padding-right: 0;

    margin-left: auto;
    margin-right: auto;

    max-width: 1400px;

    margin-left: auto;
    margin-right: auto;
}

.home-inner-box
{
    color: black;

    margin-top: 10rem;
}



/* INTRO */

.home-intro-wrapper
{
    padding-left: 5rem;
    padding-right: 5rem;
}

.home-intro-container
{
    max-width: 1400px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}

.home-intro-title
{
    font-size: 80px;
    font-weight: 900;
    letter-spacing: .5rem;

    margin-bottom: 6rem;
}

.fls
{
    -webkit-text-stroke: .5px black;
    color: transparent;

}


/* PROJECTS */

.home-work-wrapper
{
    padding-left: 5rem;
    padding-right: 5rem;

    color: black;
}

.home-work-intro
{
    font-size: 3rem;
    font-weight: 600;

    letter-spacing: .3rem;

    text-align: right;
}

.home-work-intro::before
{
    height: 2px;
    content: "";
    background-color: black;
    width: 80%;
    display: block;
    
    position: relative;
    top: 2.2rem;
}

.home-work-box
{

    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.19), 0 6px 6px rgba(255, 255, 255, 0.23);
}

.home-work-title
{

    font-size: 3rem;
    font-weight: 600;
    letter-spacing: .1rem;

    line-height: 2.2rem;
}

.home-work-info
{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .05rem;
}

.home-work-date
{
    
}

.date-title
{
    font-size: 1.2rem;
    font-weight: 600;
}

.date 
{
    font-weight: 600;
}

.date-info
{
    font-size: 1rem;
}

.home-work-framework
{
    font-weight: 600;
    font-size: 1.2rem;
}

.framework-info
{
    font-size: 1rem;
}   

.home-work-image img
{
    width: 100%;
}

.home-work-design
{
    font-weight: 600;
    font-size: 1.2rem;
}

.design-info
{
    font-size: 1rem;
    font-weight: 600;

    letter-spacing: .05rem;
}




/* MEDIA QUERY */

@media only screen and (max-width: 992px)
{
    .project-section-one
    {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .home-intro-title
    {
        font-size: 60px;
    }

    .home-intro-wrapper
    {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}




@media only screen and (max-width: 768px)
{
    .home-intro-title
    {
        font-size: 42px;
    }


}



@media only screen and (max-width: 600px)
{
    .home-intro-title
    {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 400px)
{
    .home-intro-title
    {
        font-size: 1.15rem;
        letter-spacing: .3rem;
    }

    .home-container
    {
        padding-top: 10rem;
    }
}