/* CONTAINER */

.work-container
{
    background: transparent;

    padding-top: 8rem;
    padding-bottom: 12rem;

    color: white;
}





/* WORK TITLE */

.work-title-container
{
    max-width: 1400px;

    margin-left: auto;
    margin-right: auto;

    padding-bottom: 4rem;
}

.work-title-box
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 4rem;
    letter-spacing: .1rem;

    line-height: 2rem;

    padding-left: 1rem;
}

.work-title-info
{
    font-size: 1rem;
    letter-spacing: .05rem;
    font-weight: 700;

    color: #b8c6db;
}




/* SELECTED */

.work-projects-title-container
{
    max-width: 1400px;

    margin-left: auto;
    margin-right: auto;
}






/* TABLE */

.projects-table
{
    width: 100%;

    font-family: 'Montserrat', sans-serif;
}

.projects-table p 
{
    margin: 0;
}

.projects-table td 
{
    padding: .75rem;
}

.table-row
{
    border-radius: 10px;
}

.table-row:hover
{
    background: rgb(184, 198, 219, .05);

    border-radius: 10px;

    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;

    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.table-title
{
    margin-left: 4rem;
    margin-right: 4rem;
}

.table-title p
{
    color: white;

    font-size: 1.05rem;
    font-weight: 600;
}

.table-date
{
    color: #b8c6db;

    font-weight: 600;
}

.table-company 
{
    font-weight: 600;
}

.frameworks
{
    font-size: .85rem;

    color: rgb(212, 212, 212);
}

.table-website svg
{
    width: 1.25rem;
    height: 1.25rem;

    color: white;
}

.table-website svg:hover
{
    color: #b8c6db;
}

.table-website-two svg
{
    width: 1.25rem;
    height: 1.25rem;

    margin-left: .5rem;

    fill: white;
}

.table-website-two svg:hover
{
    fill: #b8c6db;
}